<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.data>
  <DbProviderFactories>
     <add name="SharpHSQL Data Provider" invariant="System.Data.SharpHSQL" description=".Net Framework Data Provider for SharpHSQL"
         type="System.Data.Hsql.SharpHsqlDbProviderFactory, SharpHSQL, Version=4.0.0.0, Culture=neutral" /> <!-- , PublicKeyToken=b77a5c561934e089 -->
  </DbProviderFactories>
</system.data></configuration>
